/*  Global Styles  */

*,
fieldset {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Merriweather', serif;
  color: #495d70;
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
  font-weight: 300;
}

h1 {
  color: #ffffff;
  margin: 0;
  padding: 40px 0;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 40px 0 20px 0;
}

h2 + p {
  text-align: center;
  color: #9da3a8;
  padding-bottom: 50px;
  box-shadow:
    0 4px 0 0 #2d3945,
    0 7px 0 0 #ffffff,
    0 9px 0 0 #2d3945;
}

.flex {
  display: flex;
  flex-direction: column;
}

.contact,
.newsletter {
  border: none;
  margin: 50px 0;
  text-align: left;
}

select {
  cursor: pointer;
}

legend {
  font-size: 1.5rem;
  font-weight: 700;
}

.contact input,
.state-menu select,
.newsletter textarea {
  height: 60px;
  padding: 20px;
  background-color: #efefef;
  border: none;
  border-radius: 6px;
  color: #495d70;
}

input::placeholder {
  font-style: italic;
  color: #adb2b7;
  text-align: right;
  font-size: 0.75rem;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px #46698b;
  background-color: #ffffff;
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
}

.container {
  padding: 0 20px;
}

header,
footer {
  background-color: #2d3945;
}

.contact label {
  padding: 20px 0 10px 0;
}

.state-menu select {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.state-menu {
  position: relative;
}

.state-menu:after {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  background: url('../images/select-arrows.svg') 0 0 no-repeat;
  top: 20px;
  right: 5px;
  display: inline-block;
}

select:required:invalid {
  color: #9da3a8;
}

option[value=""][disabled] {
  display: none;
}

.zip input {
  width: 50%;
}

.newsletter legend {
  width: 100%;
  padding-top: 50px;
  border-top: 2px solid #2d3945;
}

.newsletter p {
  padding: 20px 0 5px 0;
}

.newsletter input {
  margin-right: 15px;
}

.newsletter label {
  display: inline-block;
  padding: 5px 0;
}

.comment {
  padding-top: 20px;
}

.comment textarea {
  height: 150px;
  display: block;
  width: 100%;
  border-radius: 6px;
  resize:none;
}

button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: #4ebbb5;
  color: #ffffff;
  cursor: pointer;
}

footer {
  font-style: italic;
  color: #ffffff;
  text-align: center;
  margin: 50px 0 0 0;
  padding: 30px 0;
}

/*  Media Queries  */

@media (min-width: 768px) {

  .container {
    max-width: 800px;
    margin: auto;
  }

  .flex {
    flex-direction: row;
    align-items: center;
  }

  .flex label {
    flex-basis: 25%;
  }

  .flex input,
  .flex .state-menu  {
    flex-basis: 75%;
    margin: 20px 0;
  }

  .zip input {
    flex-basis: 25%;
  }

}
