/*  Global Styles  */

*,
fieldset {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Merriweather', serif;
  color: #495d70;
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
  font-weight: 300;
}

h1 {
  color: #ffffff;
  margin: 0;
  padding: 40px 0;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 40px 0 20px 0;
}

h2 + p {
  text-align: center;
  color: #9da3a8;
  padding-bottom: 50px;
  position: relative;
  box-shadow:
    0 8px 0 0 #2d3945,
    0 12px 0 0 #ffffff,
    0 14px 0 0 #2d3945;
}

.contact,
.newsletter {
  border: none;
  margin: 50px 0;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

select {
  height: 50px;
  cursor: pointer;
}

.select-menu {
  color: #000000;
  padding: 10px 12px;
}

legend {
  font-size: 1.5rem;
  font-weight: 700;
}

input::placeholder {
  font-style: italic;
  color: #adb2b7;
  text-align: right;
  font-size: 0.75rem;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 3px #46698b;
}

/*  Layout Styles  */

.container {
  padding: 0 20px;
}

header {
  background-color: #2d3945;
}

.contact label {
  padding: 20px 0 10px 0;
}

.contact input,
.contact select,
.newsletter textarea {
  height: 60px;
  padding: 20px;
  background-color: #eff0f1;
  border: none;
  border-radius: 6px;
  color: #495d70;
}

select:required:invalid {
  color: #9da3a8;
}

option[value=""][disabled] {
  display: none;
}

.contact .zip {
  width: 50%;
}

.newsletter legend {
  width: 100%;
  padding-top: 50px;
  border-top: 2px solid #2d3945;
}

.newsletter p {
  padding: 20px 0 5px 0;
}

.newsletter label {
  display: inline-block;
  padding: 5px 0;
}

.newsletter input {
  margin-right: 15px;
}

.comment {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.comment textarea {
  height: 150px;
  display: block;
  width: 100%;
  border-radius: 6px;
  resize:none;
}

button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: #4ebbb5;
  color: #ffffff;
  cursor: pointer;
}

footer {
  font-style: italic;
  color: #a4a9ae;
  text-align: center;
  margin: 50px 0;
}

/*  Media Queries  */

@media (min-width: 768px) {

  .container {
    max-width: 800px;
    margin: auto;
  }

  .contact {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .contact label {
    flex-basis: 25%;
  }

  .contact input,
  .contact select {
    flex-basis: 75%;
    margin: 20px 0;
  }

  .contact .zip {
    flex-basis: 25%;
  }

}
